body{
    font-family:Poppins;font-size: 20px;
    background-color: rgb(239, 243, 245);
    margin: 0px;
}
h1{
    font-size: 40px;
} 
h2{
    font-size: 20px;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 10px;
}
.half img{
    width: 85%;
    padding: 10%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(yellow,red);
    border-radius: 10px;
    color: chartreuse;
    font-weight: 800;
}
.top-bannar{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}